<!doctype html>
<html class="" lang="en">

{{template "header.html" .}}

<body>
{{template "tab.html" .}}
<div class="wrapper white-bg">

    <div class="breadcrumbs text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumbs-title">
                        <h2>our blog</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="breadcrumbs-menu">
            <ul>
                <li><a href="#">hOME <span>//</span></a></li>
                <li>Our blog</li>
            </ul>
        </div>
    </div>
    <!--Breadcrumbs end-->
    <!--our gallery section start-->
    <div class="our-blog blog-pages ptb-100 fix">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="section-title text-center">
                        <h2>Our blog</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim nostrud exercitation ullamco laboris
                            nisi.</p>
                    </div>
                </div>
            </div>
            <div class="row blog-list">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="single-blog">
                        <div class="single-blog-top fix">
                            <div class="blog-img">
                                <a href="#">
                                    <img src="../static/img/blog/1.jpg" alt="">
                                </a>
                            </div>
                            <div class="blog-desc">
                                <h6><a href="#">Lorem Ipsum is simply dummy</a></h6>
                                <p>Lorem ipsum dolor sit amet, consectetur eiusmodm adipisicing elit, sed do eiusmod
                                    tempor incididuntm ut labore et dolore magna aliqua. </p>
                                <a class="read-more" href="#">Read more <i class="zmdi zmdi-long-arrow-right"></i></a>
                            </div>
                        </div>
                        <div class="blog-bottom-action">
                            <div class="blog-publish">
                                <p><i class="zmdi zmdi-time"></i>Jun 25, 2017 </p>
                            </div>
                            <div class="blog-action-box">
                                <ul>
                                    <li><a href="#"><i class="zmdi zmdi-favorite-outline"></i>(550)</a></li>
                                    <li><a href="#"><i class="zmdi zmdi-comments"></i>(200)</a></li>
                                    <li><a href="#"><i class="zmdi zmdi-share"></i>(100)</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="single-blog">
                        <div class="single-blog-top fix">
                            <div class="blog-img">
                                <a href="#">
                                    <img src="../static/img/blog/2.jpg" alt="">
                                </a>
                            </div>
                            <div class="blog-desc">
                                <h6><a href="#">Lorem Ipsum is simply dummy</a></h6>
                                <p>Lorem ipsum dolor sit amet, consectetur eiusmodm adipisicing elit, sed do eiusmod
                                    tempor incididuntm ut labore et dolore magna aliqua. </p>
                                <a class="read-more" href="#">Read more <i class="zmdi zmdi-long-arrow-right"></i></a>
                            </div>
                        </div>
                        <div class="blog-bottom-action">
                            <div class="blog-publish">
                                <p><i class="zmdi zmdi-time"></i>Jun 25, 2017 </p>
                            </div>
                            <div class="blog-action-box">
                                <ul>
                                    <li><a href="#"><i class="zmdi zmdi-favorite-outline"></i>(550)</a></li>
                                    <li><a href="#"><i class="zmdi zmdi-comments"></i>(200)</a></li>
                                    <li><a href="#"><i class="zmdi zmdi-share"></i>(100)</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="single-blog">
                        <div class="single-blog-top fix">
                            <div class="blog-img">
                                <a href="#">
                                    <img src="../static/img/blog/1.jpg" alt="">
                                </a>
                            </div>
                            <div class="blog-desc">
                                <h6><a href="#">Lorem Ipsum is simply dummy</a></h6>
                                <p>Lorem ipsum dolor sit amet, consectetur eiusmodm adipisicing elit, sed do eiusmod
                                    tempor incididuntm ut labore et dolore magna aliqua. </p>
                                <a class="read-more" href="#">Read more <i class="zmdi zmdi-long-arrow-right"></i></a>
                            </div>
                        </div>
                        <div class="blog-bottom-action">
                            <div class="blog-publish">
                                <p><i class="zmdi zmdi-time"></i>Jun 25, 2017 </p>
                            </div>
                            <div class="blog-action-box">
                                <ul>
                                    <li><a href="#"><i class="zmdi zmdi-favorite-outline"></i>(550)</a></li>
                                    <li><a href="#"><i class="zmdi zmdi-comments"></i>(200)</a></li>
                                    <li><a href="#"><i class="zmdi zmdi-share"></i>(100)</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="single-blog">
                        <div class="single-blog-top fix">
                            <div class="blog-img">
                                <a href="#">
                                    <img src="../static/img/blog/2.jpg" alt="">
                                </a>
                            </div>
                            <div class="blog-desc">
                                <h6><a href="#">Lorem Ipsum is simply dummy</a></h6>
                                <p>Lorem ipsum dolor sit amet, consectetur eiusmodm adipisicing elit, sed do eiusmod
                                    tempor incididuntm ut labore et dolore magna aliqua. </p>
                                <a class="read-more" href="#">Read more <i class="zmdi zmdi-long-arrow-right"></i></a>
                            </div>
                        </div>
                        <div class="blog-bottom-action">
                            <div class="blog-publish">
                                <p><i class="zmdi zmdi-time"></i>Jun 25, 2017 </p>
                            </div>
                            <div class="blog-action-box">
                                <ul>
                                    <li><a href="#"><i class="zmdi zmdi-favorite-outline"></i>(550)</a></li>
                                    <li><a href="#"><i class="zmdi zmdi-comments"></i>(200)</a></li>
                                    <li><a href="#"><i class="zmdi zmdi-share"></i>(100)</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="single-blog">
                        <div class="single-blog-top fix">
                            <div class="blog-img">
                                <a href="#">
                                    <img src="../static/img/blog/1.jpg" alt="">
                                </a>
                            </div>
                            <div class="blog-desc">
                                <h6><a href="#">Lorem Ipsum is simply dummy</a></h6>
                                <p>Lorem ipsum dolor sit amet, consectetur eiusmodm adipisicing elit, sed do eiusmod
                                    tempor incididuntm ut labore et dolore magna aliqua. </p>
                                <a class="read-more" href="#">Read more <i class="zmdi zmdi-long-arrow-right"></i></a>
                            </div>
                        </div>
                        <div class="blog-bottom-action">
                            <div class="blog-publish">
                                <p><i class="zmdi zmdi-time"></i>Jun 25, 2017 </p>
                            </div>
                            <div class="blog-action-box">
                                <ul>
                                    <li><a href="#"><i class="zmdi zmdi-favorite-outline"></i>(550)</a></li>
                                    <li><a href="#"><i class="zmdi zmdi-comments"></i>(200)</a></li>
                                    <li><a href="#"><i class="zmdi zmdi-share"></i>(100)</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="single-blog">
                        <div class="single-blog-top fix">
                            <div class="blog-img">
                                <a href="#">
                                    <img src="../static/img/blog/2.jpg" alt="">
                                </a>
                            </div>
                            <div class="blog-desc">
                                <h6><a href="#">Lorem Ipsum is simply dummy</a></h6>
                                <p>Lorem ipsum dolor sit amet, consectetur eiusmodm adipisicing elit, sed do eiusmod
                                    tempor incididuntm ut labore et dolore magna aliqua. </p>
                                <a class="read-more" href="#">Read more <i class="zmdi zmdi-long-arrow-right"></i></a>
                            </div>
                        </div>
                        <div class="blog-bottom-action">
                            <div class="blog-publish">
                                <p><i class="zmdi zmdi-time"></i>Jun 25, 2017 </p>
                            </div>
                            <div class="blog-action-box">
                                <ul>
                                    <li><a href="#"><i class="zmdi zmdi-favorite-outline"></i>(550)</a></li>
                                    <li><a href="#"><i class="zmdi zmdi-comments"></i>(200)</a></li>
                                    <li><a href="#"><i class="zmdi zmdi-share"></i>(100)</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--pagintaion-->
        <div class="pagination-box text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="pagination-inner">
                            <ul>
                                <li><a href="#"><i class="zmdi zmdi-caret-left"></i></a></li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li class="active">3</li>
                                <li><a href="#">4</a></li>
                                <li><a href="#"><i class="zmdi zmdi-caret-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--pagintaion end-->
    </div>
    <!--our gallery section end-->
    <!--footer start-->
    <div class="footer">
        <div class="footer-top ptb-100">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="single-footer contact">
                            <div class="footer-title">
                                <h3>Contact us</h3>
                            </div>
                            <div class="contact-action mb-15">
                                <span><i class="zmdi zmdi-pin"></i></span>
                                <p>House No 08, Road No 08,<br>Din Bari, Dhaka, Bangladesh</p>
                            </div>
                            <div class="contact-action mb-15">
                                <span><i class="zmdi zmdi-email"></i></span>
                                <p>Username@gmail.com<br>Damo@gmail.com</p>
                            </div>
                            <div class="contact-action">
                                    <span>
                                        <i class="zmdi zmdi-phone"></i>
                                    </span>
                                <p>(+660 256 24857)<br>(+660 256 24857)</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="single-footer quick-links">
                            <div class="footer-title">
                                <h3>Quick links</h3>
                            </div>
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">about</a></li>
                                <li><a href="#">serivces</a></li>
                                <li><a href="#">portfolio</a></li>
                                <li><a href="#">contact us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="single-footer open-hours">
                            <div class="footer-title">
                                <h3>Open hours</h3>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetueiusmodm dost adipisicing elit, sed do eiusmod is
                                tempincididuntm ut
                                lorem ipsome do or sit amt labore et dolor </p>
                            <ul>
                                <li>Monday - Friday <span>8.00-5.00</span></li>
                                <li>Saturday <span>12.00-5.00</span></li>
                                <li>Sunday <span class="close">close</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="single-footer widget">
                            <div class="footer-title">
                                <h3>Flicker widget</h3>
                            </div>
                            <ul>
                                <li><a href="#"><img src="../static/img/widget/1.jpg" alt=""></a></li>
                                <li><a href="#"><img src="../static/img/widget/2.jpg" alt=""></a></li>
                                <li><a href="#"><img src="../static/img/widget/3.jpg" alt=""></a></li>
                                <li><a href="#"><img src="../static/img/widget/4.jpg" alt=""></a></li>
                                <li><a href="#"><img src="../static/img/widget/5.jpg" alt=""></a></li>
                                <li><a href="#"><img src="../static/img/widget/6.jpg" alt=""></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="copyright">
                            <p>
                                Copyright &copy; 2017.Company name All rights reserved.More Templates <a
                                        href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect
                                from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--footer end-->

</div>

<!--=================================
 style-customizer start  -->

<div class="style-customizer closed">

    <div class="buy-button">
        <a href="#" class="customizer-logo"><img src="../static/img/logo/logo.png" alt="Theme Logo"></a>
        <a class="opener" href="#"><i class="fa fa-cog fa-spin"></i></a>
        <div class="buy-now">
            <a class="button button-border" href="#">Buy now!</a>
        </div>
    </div>
    <div class="clearfix content-chooser">
        <h3>Layout Options</h3>
        <p>Which layout option you want to use?</p>
        <ul class="layoutstyle clearfix">
            <li class="wide-layout selected" data-style="wide" title="wide"> Wide</li>
            <li class="boxed-layout" data-style="boxed" title="boxed"> Boxed</li>
        </ul>
        <h3>Color Schemes</h3>
        <p>Which theme color you want to use? Select from here.</p>
        <ul class="styleChange clearfix">
            <li class="skin-default selected" title="skin-default" data-style="skin-default"></li>
            <li class="color-1" title="color-1" data-style="color-1"></li>
            <li class="color-2" title="color-2" data-style="color-2"></li>
            <li class="color-3" title="color-3" data-style="color-3"></li>
            <li class="color-4" title="color-4" data-style="color-4"></li>
            <li class="color-5" title="color-5" data-style="color-5"></li>
            <li class="color-6" title="color-6" data-style="color-6"></li>
            <li class="color-7" title="color-7" data-style="color-7"></li>
            <li class="color-8" title="color-8" data-style="color-8"></li>
            <li class="color-9" title="color-9" data-style="color-9"></li>
            <li class="color-10" title="color-10" data-style="color-10"></li>
            <li class="color-11" title="color-11" data-style="color-11"></li>
        </ul>

        <h3>Background Patterns</h3>
        <p>Which background pattern you want to use?</p>
        <ul class="patternChange clearfix">
            <li class="pattern-0" data-style="pattern-0" title="white background"></li>
            <li class="pattern-1" data-style="pattern-1" title="pattern-1"></li>
            <li class="pattern-2" data-style="pattern-2" title="pattern-2"></li>
            <li class="pattern-3" data-style="pattern-3" title="pattern-3"></li>
            <li class="pattern-4" data-style="pattern-4" title="pattern-4"></li>
            <li class="pattern-5" data-style="pattern-5" title="pattern-5"></li>
            <li class="pattern-6" data-style="pattern-6" title="pattern-6"></li>
            <li class="pattern-7" data-style="pattern-7" title="pattern-7"></li>
        </ul>
        <h3>Background Images</h3>
        <p>Which background image you want to use?</p>
        <ul class="patternChange main-bg-change clearfix">
            <li class="main-bg-1" data-style="main-bg-1" title="Background 1"><img
                        src="../static/img/customizer/bodybg/bg-1.jpg" alt=""></li>
            <li class="main-bg-2" data-style="main-bg-2" title="Background 2"><img
                        src="../static/img/customizer/bodybg/bg-2.jpg" alt=""></li>
            <li class="main-bg-3" data-style="main-bg-3" title="Background 3"><img
                        src="../static/img/customizer/bodybg/bg-3.jpg" alt=""></li>
            <li class="main-bg-4" data-style="main-bg-4" title="Background 4"><img
                        src="../static/img/customizer/bodybg/bg-4.jpg" alt=""></li>
            <li class="main-bg-5" data-style="main-bg-5" title="Background 5"><img
                        src="../static/img/customizer/bodybg/bg-5.jpg" alt=""></li>
            <li class="main-bg-6" data-style="main-bg-6" title="Background 6"><img
                        src="../static/img/customizer/bodybg/bg-6.jpg" alt=""></li>
            <li class="main-bg-7" data-style="main-bg-7" title="Background 7"><img
                        src="../static/img/customizer/bodybg/bg-7.jpg" alt=""></li>
            <li class="main-bg-8" data-style="main-bg-8" title="Background 8"><img
                        src="../static/img/customizer/bodybg/bg-8.jpg" alt=""></li>
            <li class="main-bg-9" data-style="main-bg-9" title="Background 9"><img
                        src="../static/img/customizer/bodybg/bg-9.jpg" alt=""></li>
            <li class="main-bg-10" data-style="main-bg-10" title="Background 10"><img
                        src="../static/img/customizer/bodybg/bg-10.jpg" alt=""></li>
            <li class="main-bg-11" data-style="main-bg-11" title="Background 11"><img
                        src="../static/img/customizer/bodybg/bg-11.jpg" alt=""></li>
            <li class="main-bg-12" data-style="main-bg-12" title="Background 12"><img
                        src="../static/img/customizer/bodybg/bg-12.jpg" alt=""></li>
        </ul>
        <ul class="resetAll">
            <li><a class="button button-border button-reset" href="#">Reset All</a></li>
        </ul>
    </div>
</div>

{{template "js.html" .}}


</body>

</html>
