<!doctype html>
<html class="" lang="en">
{{template "header.html" .}}

<body>
{{template "tab.html" .}}
<div class="wrapper white-bg">

    <div class="contact-form ptb-100">
        <div class="container">

            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="contact-form">
                        <p class="form-messege"></p>
                        <form id="contact-form" action="mail.php" method="post">
                            <input name="name" type="text" placeholder="姓名">
                            <input name="phone" type="text" placeholder="手机号">
                            <button type="submit">提交预约</button>
                        </form>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="contact-form-img text-center">
                        <img src="../static/img/common/contact.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Contact form end-->


</div>
{{template "footer.html" .}}
{{template "js.html" .}}
</body>

</html>
