<!doctype html>
<html class="" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Contact us</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico in the root directory -->
    <link href="../static/img/apple-touch-icon.png" type="images/x-icon" rel="shortcut icon">
    <!-- All css files are included here. -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/core.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/responsive.css">
    <!-- customizer style css -->
    <link rel="stylesheet" href="../static/css/style-customizer.css">
    <link href="#" data-style="styles" rel="stylesheet">
    <!-- Modernizr JS -->
    <script src="../static/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->  
    
    <div class="wrapper white-bg">
         <!--header section start-->
        <!--header section start-->
        <div class="header">
            <div class="header-top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 hidden-xs">
                            <div class="header-left">
                                <div class="call-center">
                                    <p><i class="zmdi zmdi-phone"></i>(+880) 01656300176</p>
                                </div>
                                <div class="mail-address">
                                    <p><i class="zmdi zmdi-email"></i>breed@gmail.com</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="social-icons">
                                <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                                <a href="#"><i class="zmdi zmdi-twitter"></i></a>
                                <a href="#"><i class="zmdi zmdi-dribbble"></i></a>
                                <a href="#"><i class="zmdi zmdi-pinterest"></i></a>
                                <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-bottom sticky-header">
                <div class="container">
                    <div class="mgea-full-width">
                        <div class="row">
                            <div class="col-md-2 col-sm-6 col-xs-9">
                                <div class="logo">
                                    <a href="index.html"><img src="../static/img/logo/logo.png" alt=""></a>
                                </div>
                            </div>
                            <div class="col-md-8 hidden-sm hidden-xs">
                                <div class="menu">
                                    <nav>
                                        <ul>
                                            <li><a href="index">Home</a></li>
                                            <li><a href="shop">Shop</a></li>
                                            <li><a href="about-us">About</a></li>
                                            <li><a href="blog">blog</a></li>
                                            <li><a href="contact-us"  style="color: #1da1f2">contact</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-6 col-xs-3">
                                <div class="header-action-box">
                                    <div class="mini-cart" >
                                        <div class="cart-icon">
                                            <a href="#"><i class="zmdi zmdi-shopping-cart"></i></a>
                                            <span>2</span>
                                        </div>
                                        <!-- Mini Cart -->
                                        <div class="mini-cart-box right">
                                            <div class="mini-cart-product fix">
                                                <a href="#" class="image"><img src="../static/img/cart/mini-1.jpg" alt="" /></a>
                                                <div class="content fix">
                                                    <a href="#" class="title">wooden furniture</a>
                                                    <p>Color: Black</p>
                                                    <p>Size: SL</p>
                                                    <button class="remove"><i class="zmdi zmdi-close"></i></button>
                                                </div>
                                            </div>
                                            <div class="mini-cart-product fix">
                                                <a href="#" class="image"><img src="../static/img/cart/mini-1.jpg" alt="" /></a>
                                                <div class="content fix">
                                                    <a href="#" class="title">wooden furniture</a>
                                                    <p>Color: Black</p>
                                                    <p>Size: SL</p>
                                                    <button class="remove"><i class="zmdi zmdi-close"></i></button>
                                                </div>
                                            </div>
                                            <div class="mini-cart-product fix">
                                                <a href="#" class="image"><img src="../static/img/cart/mini-1.jpg" alt="" /></a>
                                                <div class="content fix">
                                                    <a href="#" class="title">wooden furniture</a>
                                                    <p>Color: Black</p>
                                                    <p>Size: SL</p>
                                                    <button class="remove"><i class="zmdi zmdi-close"></i></button>
                                                </div>
                                            </div>
                                            <div class="mini-cart-checkout text-center">
                                                <a href="checkout.html">checkout</a>
                                            </div>
                                        </div>
                                        <!--mini cart end-->
                                    </div>
                                    <div class="search">
                                        <a href="#"><i class="zmdi zmdi-search"></i></a>
                                    </div>
                                </div>
                                <div class="search-box">
                                    <div class="search-form">
                                        <form action="#" id="search-form">
                                            <input type="search" name="search" placeholder="Search here...">
                                            <button type="submit">
                                                <span><i class="fa fa-search"></i></span>
                                            </button>
                                        </form>                                
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Mobile menu start -->
                <div class="mobile-menu-area hidden-lg hidden-md">
                    <div class="container">
                        <div class="col-md-12">
                            <nav id="dropdown">
                                <ul>
									<li><a href="index">Home</a></li>
									<li><a href="shop">Shop</a></li>
									<li><a href="about-us">About</a></li>
									<li><a href="blog">blog</a></li>
									<li><a href="contact-us">contact</a></li>
								</ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <!-- Mobile menu end -->
            </div>
         </div>
        <!--header section end-->
        <!--header section end-->
        <!--Breadcrumbs start-->
        <div class="breadcrumbs text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="breadcrumbs-title">
                            <h2>Contact us</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="breadcrumbs-menu">
                <ul>
                    <li><a href="#">hOME <span>//</span></a></li>
                    <li>Contact us</li>
                </ul>
            </div>
        </div>
        <!--Breadcrumbs end-->
        <div id="contact-map" class="map-area">
            <div id="googleMap" style="width:100%;height:500px;"></div>
        </div> 
        <!--Contact start-->
        <div class="contact-us">
            <div class="container">
                <div class="row">
                    <div class="contact-list fix">
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="single-contact">
                                <div class="contact-icon">
                                    <a href="#"><i class="zmdi zmdi-phone"></i></a>
                                </div>
                                <div class="contact-desc">
                                    <p>+012 345 678 102<br>+012 345 678 102</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="single-contact text-center">
                                <div class="contact-icon">
                                    <a href="#"><i class="zmdi zmdi-dribbble"></i></a>
                                </div>
                                <div class="contact-desc">
                                    <p>urname@email.com<br>urwebsitenaem.com</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="single-contact float-right">
                                <div class="contact-icon">
                                    <a href="#"><i class="zmdi zmdi-pin"></i></a>
                                </div>
                                <div class="contact-desc">
                                    <p> ur address goes here,<br>street,Crossroad123.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Contact end-->
        <!--Contact form start-->
        <div class="contact-form ptb-100">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="section-title text-center">
                            <h2>Get in touch</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim nostrud exercitation ullamco laboris nisi.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="contact-form">
                            <p class="form-messege"></p>
                            <form id="contact-form" action="mail.php" method="post">
                                <input name="name" type="text" placeholder="Name">
                                <input name="email" type="text" placeholder="Email">
                                <textarea name="message" placeholder="Message"></textarea>
                                <button type="submit">Submit</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="contact-form-img text-center">
                            <img src="../static/img/common/contact.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Contact form end-->
        

        <!--footer start-->
        <div class="footer">
            <div class="footer-top ptb-100">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="single-footer contact">
                                <div class="footer-title">
                                    <h3>Contact us</h3>
                                </div>
                                <div class="contact-action mb-15">
                                    <span><i class="zmdi zmdi-pin"></i></span>
                                    <p>House No 08, Road No 08,<br>Din Bari, Dhaka, Bangladesh</p>
                                </div>
                                <div class="contact-action mb-15">
                                    <span><i class="zmdi zmdi-email"></i></span>
                                    <p>Username@gmail.com<br>Damo@gmail.com</p>
                                </div>
                                <div class="contact-action">
                                    <span>
                                        <i class="zmdi zmdi-phone"></i>
                                    </span>
                                    <p>(+660 256 24857)<br>(+660 256 24857)</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-6 col-xs-12">
                            <div class="single-footer quick-links">
                               <div class="footer-title">
                                    <h3>Quick links</h3>
                                </div>
                                <ul>
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#">about</a></li>
                                    <li><a href="#">serivces</a></li>
                                    <li><a href="#">portfolio</a></li>
                                    <li><a href="#">contact us</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="single-footer open-hours">
                                <div class="footer-title">
                                    <h3>Open hours</h3>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetueiusmodm dost  adipisicing elit, sed do eiusmod is tempincididuntm ut 
lorem ipsome do or sit amt  labore et dolor </p>
                                <ul>
                                    <li>Monday - Friday <span>8.00-5.00</span></li>
                                    <li>Saturday <span>12.00-5.00</span></li>
                                    <li>Sunday <span class="close">close</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="single-footer widget">
                                <div class="footer-title">
                                    <h3>Flicker widget</h3>
                                </div>
                                <ul>
                                    <li><a href="#"><img src="../static/img/widget/1.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="../static/img/widget/2.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="../static/img/widget/3.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="../static/img/widget/4.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="../static/img/widget/5.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="../static/img/widget/6.jpg" alt=""></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="copyright">
                                <p>
                                    Copyright &copy; 2017.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--footer end-->
       
    </div>
    
    <!--=================================
     style-customizer start  -->

    <div class="style-customizer closed">

      <div class="buy-button">
            <a href="#" class="customizer-logo"><img src="../static/img/logo/logo.png" alt="Theme Logo"></a>
            <a class="opener" href="#"><i class="fa fa-cog fa-spin"></i></a>
            <div class="buy-now">
                <a class="button button-border" href="#">Buy now!</a> 
            </div>
        </div>
      <div class="clearfix content-chooser">
        <h3>Layout Options</h3>
        <p>Which layout option you want to use?</p>
        <ul class="layoutstyle clearfix">
          <li class="wide-layout selected" data-style="wide" title="wide"> Wide </li>
          <li class="boxed-layout" data-style="boxed" title="boxed"> Boxed </li>
        </ul>
        <h3>Color Schemes</h3>
        <p>Which theme color you want to use? Select from here.</p>
        <ul class="styleChange clearfix">
          <li class="skin-default selected" title="skin-default" data-style="skin-default" ></li>
          <li class="color-1" title="color-1" data-style="color-1"></li>
          <li class="color-2" title="color-2" data-style="color-2"></li>
          <li class="color-3" title="color-3" data-style="color-3"></li>
          <li class="color-4" title="color-4" data-style="color-4"></li>
          <li class="color-5" title="color-5" data-style="color-5"></li>
          <li class="color-6" title="color-6" data-style="color-6"></li>
          <li class="color-7" title="color-7" data-style="color-7"></li>
          <li class="color-8" title="color-8" data-style="color-8"></li>
          <li class="color-9" title="color-9" data-style="color-9"></li>
          <li class="color-10" title="color-10" data-style="color-10"></li>
          <li class="color-11" title="color-11" data-style="color-11"></li>
        </ul>
        
        <h3>Background Patterns</h3>
        <p>Which background pattern you want to use?</p>
        <ul class="patternChange clearfix">
          <li class="pattern-0" data-style="pattern-0" title="white background"></li>
          <li class="pattern-1" data-style="pattern-1" title="pattern-1"></li>
          <li class="pattern-2" data-style="pattern-2" title="pattern-2"></li>
          <li class="pattern-3" data-style="pattern-3" title="pattern-3"></li>
          <li class="pattern-4" data-style="pattern-4" title="pattern-4"></li>
          <li class="pattern-5" data-style="pattern-5" title="pattern-5"></li>
          <li class="pattern-6" data-style="pattern-6" title="pattern-6"></li>
          <li class="pattern-7" data-style="pattern-7" title="pattern-7"></li>
        </ul>
        <h3>Background Images</h3>
        <p>Which background image you want to use?</p>
        <ul class="patternChange main-bg-change clearfix">
          <li class="main-bg-1" data-style="main-bg-1" title="Background 1"> <img src="../static/img/customizer/bodybg/bg-1.jpg" alt=""></li>
          <li class="main-bg-2" data-style="main-bg-2" title="Background 2"> <img src="../static/img/customizer/bodybg/bg-2.jpg" alt=""></li>
          <li class="main-bg-3" data-style="main-bg-3" title="Background 3"> <img src="../static/img/customizer/bodybg/bg-3.jpg" alt=""></li>
          <li class="main-bg-4" data-style="main-bg-4" title="Background 4"> <img src="../static/img/customizer/bodybg/bg-4.jpg" alt=""></li>
          <li class="main-bg-5" data-style="main-bg-5" title="Background 5"> <img src="../static/img/customizer/bodybg/bg-5.jpg" alt=""></li>
          <li class="main-bg-6" data-style="main-bg-6" title="Background 6"> <img src="../static/img/customizer/bodybg/bg-6.jpg" alt=""></li>
          <li class="main-bg-7" data-style="main-bg-7" title="Background 7"> <img src="../static/img/customizer/bodybg/bg-7.jpg" alt=""></li>
          <li class="main-bg-8" data-style="main-bg-8" title="Background 8"> <img src="../static/img/customizer/bodybg/bg-8.jpg" alt=""></li>
          <li class="main-bg-9" data-style="main-bg-9" title="Background 9"> <img src="../static/img/customizer/bodybg/bg-9.jpg" alt=""></li>
          <li class="main-bg-10" data-style="main-bg-10" title="Background 10"> <img src="../static/img/customizer/bodybg/bg-10.jpg" alt=""></li>
          <li class="main-bg-11" data-style="main-bg-11" title="Background 11"> <img src="../static/img/customizer/bodybg/bg-11.jpg" alt=""></li>
          <li class="main-bg-12" data-style="main-bg-12" title="Background 12"> <img src="../static/img/customizer/bodybg/bg-12.jpg" alt=""></li>
        </ul>
        <ul class="resetAll">
          <li><a class="button button-border button-reset" href="#">Reset All</a></li>
        </ul>
      </div>
    </div>

    <!-- style-customizer End -->
    



    <!-- Placed js at the end of the document so the pages load faster -->

   <!-- Map js code here -->
	<!---<script src="http://ditu.google.cn/maps/api/js?key=AIzaSyAdWLY_Y6FL7QGW5vcO3zajUEsrKfQPNzI"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="js/map.js"></script>--->

    <!-- All js plugins included in this file. -->
    <script src="../static/js/vendor/jquery-1.12.0.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/jquery.nivo.slider.pack.js"></script>
    <script src="../static/js/owl.carousel.min.js"></script>
    <script src="../static/js/ajax-mail.js"></script>
    <script src="../static/js/jquery.magnific-popup.js"></script>
    <script src="../static/js/jquery.counterup.min.js"></script>
    <script src="../static/js/waypoints.min.js"></script>
    <script src="../static/js/style-customizer.js"></script>
    <script src="../static/js/plugins.js"></script>
    <script src="../static/js/main.js"></script>
</body>

</html>
