<div class="footer">
    <div class="footer-top ptb-100">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single-footer contact">
                        <div class="footer-title">
                            <h3>联系我们</h3>
                        </div>
                        <div class="contact-action mb-15">
                            <span><i class="zmdi zmdi-pin"></i></span>
                            <p>北京市昌平区回龙观西大街上北鑫座2号楼240室<br></p>
                        </div>
                        <div class="contact-action mb-15">
                            <span><i class="zmdi zmdi-email"></i></span>
                            <br>
                            <p>chenliangj2ee@163.com</p>
                        </div>
                        <div class="contact-action">
                                    <span>
                                        <i class="zmdi zmdi-phone"></i>
                                    </span>
                            <p>(13718507195)<br>(18518664302)</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-footer open-hours">
                        <div class="footer-title">
                            <h3>营业时间</h3>
                        </div>
                        <p>所有到店客户，均需要提前预约，以免高峰期客量都而排队等待</p>
                        <ul>
                            <li>周一到日 <span>9.00-9 .00</span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single-footer widget">
                        <div class="footer-title">
                            <h3>关注微信</h3>
                        </div>
                        <ul>
                            <img src="../static/img/widget/1.jpg"  width="200px" height="200px">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="copyright">
                        <p>
                            Copyright &copy; 2017.Company name All rights reserved.More xyc <a
                                    href="" target="_blank" title="新雨池祛痘北京服务中心">新雨池祛痘北京服务中心</a> - Collect
                            from <a href="" title="新雨池祛痘" target="_blank">新雨池祛痘</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


