<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>新雨池祛痘北京服务中心</title>
    <meta name="description"
          content="新雨池祛痘北京服务中心，是专业祛痘美容连锁机构，是一家签约包治的祛痘美容机构，服务项目包括：青春痘、粉刺、痘印、痘坑、座疮、暗疮、过敏脸、疤痕、色斑、雀斑等各种面部皮肤问题！新雨池祛痘热线:13718507195，微信：13718507195"/>
    <meta name="keywords" content="祛痘，痘印，祛斑，祛疤痕，新雨池，北京祛痘，北京去痘印，北京祛斑，北京祛疤痕，北京新雨池"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/core.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/responsive.css">
    <link rel="stylesheet" href="../static/css/style-customizer.css">
    <link href="#" data-style="styles" rel="stylesheet">
    <script src="../static/js/vendor/modernizr-2.8.3.min.js"></script>
</head>