<script src="../static/js/vendor/jquery-1.12.0.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/jquery.nivo.slider.pack.js"></script>
<script src="../static/js/owl.carousel.min.js"></script>
<script src="../static/js/ajax-mail.js"></script>
<script src="../static/js/jquery.magnific-popup.js"></script>
<script src="../static/js/jquery.counterup.min.js"></script>
<script src="../static/js/waypoints.min.js"></script>
<script src="../static/js/style-customizer.js"></script>
<script src="../static/js/plugins.js"></script>
<script src="../static/js/main.js"></script>