<!doctype html>
<html class="" lang="en">

{{template "header.html" .}}
<body>
{{template "tab.html" .}}
<div class="wrapper white-bg">

    <div class="shop-page ptb-100">
        <div class="container">
            <div class="row">
                <!--shop sidebar start-->
                <div >
                    <div class="tab-content">

                        <div id="list" role="tabpanel">
                            <div class="row">
                                {{range .ps}}
                                    <div class="shop-product-list col-md-12">
                                        <div class="single-product">
                                            <div class="single-product-img">
                                                <a href="#"><img src="../static/img/feature/6.png" alt=""></a>
                                            </div>
                                            <div class="single-product-info">
                                                <h3><a href="#">{{.Name}}</a></h3>
                                                <h4>¥ {{.Price}}.00</h4>
                                                <h5>治疗: <span>{{.Effect}}</span></h5>
                                                <div class="singe-product-desc">
                                                    <p>{{.Des}}</p>
                                                </div>
                                                <ul class="product-action">
                                                    <li><i class="zmdi zmdi-refresh"></i></li>
                                                    <li>
                                                        <a href="tencent://message/?uin=1584568616&Site=sc.chinaz.com&Menu=yes"
                                                           class="add-to-cart">咨询</a></li>
                                                    <li><i class="zmdi zmdi-favorite-outline"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                {{end}}
                            </div>
                        </div>

                    </div>
                </div>
                <!--shop sidebar end-->
            </div>
        </div>
    </div>

    {{template "footer.html" .}}

</div>

{{template "js.html" .}}

</body>

</html>
