<div class="header">
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 hidden-xs">
                    <div class="header-left">
                        <div class="call-center">
                            <p><i class="zmdi zmdi-phone"></i>13718507195</p>
                        </div>
                        <div class="mail-address">
                            <p><i class="zmdi zmdi-email"></i>微信:13718507195</p>
                        </div>
                        <div class="mail-address">
                            <a href="tencent://message/?uin=1584568616&Site=sc.chinaz.com&Menu=yes">QQ咨询</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom sticky-header">
        <div class="container">
            <div class="mgea-full-width">
                <div class="row">
                    <div class="col-md-2 col-sm-6 col-xs-9">
                        <div class="logo">
                            <a href="index.html"><img src="../static/img/logo/logo.png"></a>
                        </div>
                    </div>
                    <div class="col-md-8 hidden-sm hidden-xs">
                        <div class="menu">
                            <nav>
                                <ul>
                                    <li><a href="index" style="color: #1da1f2">新雨池祛痘</a></li>
                                    <li><a href="shop">产品介绍</a></li>
                                    <li><a href="about-us">关于我们</a></li>
                                    <li><a href="contact-us">在线预约</a>
                                    <li>
                                        <a href="tencent://message/?uin=1584568616&Site=sc.chinaz.com&Menu=yes">QQ咨询</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Mobile menu start -->
        <div class="mobile-menu-area hidden-lg hidden-md">
            <div class="container">
                <div class="col-md-12">
                    <nav id="dropdown">
                        <ul>
                            <li><a href="index" style="color: #1da1f2">新雨池祛痘</a></li>
                            <li><a href="shop">产品介绍</a></li>
                            <li><a href="about-us">关于我们</a></li>
                            <li><a href="contact-us">在线预约</a>
                            <li>
                                <a href="tencent://message/?uin=1584568616&Site=sc.chinaz.com&Menu=yes">QQ咨询</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Mobile menu end -->
    </div>
</div>